.comment-group {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.comment-group__wrapper {
  width: 280px;
  margin: 0 auto;
}

.comment-group__title {
  .subtitle;
  margin-top: 4px;
  margin-bottom: 29px;
  width: 128px;
  padding-right: 20px;
  background-color: @white;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 249px;
    top: 23px;
    height: 3px;
    background-color: @green;
    z-index: -1;
  }
}

.comment-group__input {
  border: 1px solid #ededed;
  padding-left: 15px;
  padding-bottom: 100px;
  width: 261px;
  height: 47px;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-weight: 400;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    outline: none;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }
}

@media (min-width: @tablet-width) {
  .comment-group__input {
    width: 612px;
    height: 55px;
    padding-bottom: 114px;

    &::placeholder {
      font-size: 20px;
    }
  }

  .comment-group {
    border: none;
    margin-bottom: 32px;
  }

  .comment-group__title {
    .title;
    margin-bottom: 63px;
    width: 183px;
    padding-left: 40px;
    margin-left: -40px;
    display: flex;
    justify-content: flex-start;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 37px;
      height: 3px;
      background-color: @green;
    }
  }

  .comment-group__wrapper {
    width: 630px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .comment-group__input {
    width: 1203px;
    height: 55px;
  }

  .comment-group__title {
    font-size: 36px;
    margin-bottom: 65px;
    margin-top: 18px;
    width: 190px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 50px;
      height: 3px;
      background-color: @green;
    }
  }

  .comment-group {
    margin-bottom: 30px;
  }

  .comment-group__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
