.additional-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-goods__title {
  font-size: 24px;
  font-weight: 400;
}

.additional-goods__list {
  .list;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.additional-goods__wrapper {
  width: 88%;
}

.additional-list__item {
  border-top: 1px solid #cdcdcd;
  width: 88%;
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-list__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
}

.additional-list__information {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.additional-list__link {
  .button;
  margin-bottom: 14px;
  padding: 10px 41%;
}

.additional-goods__stock {
  color: @white;
  position: absolute;
  z-index: 2;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
}

.additional-goods__image {
  position: relative;
  z-index: 1;
}

.additional-list__value,
.additional-list__field {
  display: inline-flex;
  margin: 0;
  width: 105px;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
  font-family: "Arial", sans-serif;
}

.additional-list__field {
  justify-content: flex-end;
}

.additional-list__value {
  margin-right: 10px;
}

.additional-goods__present {
  position: relative;
}

@media (min-width: @tablet-width) {
  .additional-list__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-list__item {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-bottom: none;
  }

  .additional-list__link {
    padding: 10px 46%;
  }

  .additional-goods__wrapper {
    width: 90%;
  }

  .additional-goods__title {
    font-size: 36px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .additional-list__item {
    flex-direction: row;
    min-height: 70px;
    border-right: none;
    border-left: none;
  }

  .additional-list {
    width: 895px;
    margin: 0;
    margin-right: 80px;
  }

  .additional-list__link {
    padding: 10px 20%;
  }
}
