.catalog__title {
  .title;
}

.catalog__list {
  .list;
}

.catalog__item {
  border: 1px solid #ededed;
}

.catalog__item-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.catalog__value,
.catalog__field {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

.catalog__link {
  background-color: @green;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.catalog__show {
  border: 1px solid #ededed;
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
}

.catalog__link-show {
  background-color: #f2f2f2;
  color: #444444;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
