.checkbox-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  width: 100%;
  position: relative;
}

.checkbox-group__title {
  .subtitle;
  width: 280px;
  margin: 0 auto;
  margin-top: 22px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 58%;
    top: 44px;
    height: 3px;
    background-color: @green;
  }
}

.checkbox-group__label {
  .label;
  padding-left: 46px;
  position: relative;
}

.checkbox-group__container {
  margin: 0 auto;
  margin-top: 31px;
  width: 280px;
}

.checkbox-group__checkbox {
  display: none;
}

.checkbox-group__checkbox + .checkbox-group__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.checkbox-group__checkbox:checked + .checkbox-group__label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.checkbox-group__checkbox + .checkbox-group__label:active::before {
  opacity: 0.3;
}


@media (min-width: @tablet-width) {
  .checkbox-group__container {
    display: flex;
    flex-wrap: wrap;
    width: 576px;
    margin: 0 auto;
  }

  .checkbox-group__wrapper {
    &:first-child {
      margin-right: 151px;
      margin-bottom: 33px;
    }

    &:nth-child(3) {
      margin-right: 243px;
    }
  }

  .checkbox-group {
    border: none;
    margin-bottom: 45px;
  }

  .checkbox-group__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 33px;
  }

  .checkbox-group__title {
    .title;
    width: 630px;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 42%;
      top: 57px;
      height: 3px;
      background-color: @green;
    }

    &::before {
      content: "";
      position: absolute;
      right: 96%;
      left: 0;
      top: 57px;
      height: 3px;
      background-color: @green;
    }
  }

  .checkbox-group__checkbox + .checkbox-group__label::before {
    content: "";
    position: absolute;
    left: -27px;
    top: -3px;
    width: 38px;
    height: 38px;
    border: 1px solid #d1d1d1;
  }

  .checkbox-group__checkbox:checked + .checkbox-group__label::after {
    content: "";
    position: absolute;
    left: -16px;
    top: 10px;
    width: 21px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-group__container {
    flex-direction: row;
    width: 1125px;
    margin-bottom: 31px;
    margin-left: 110px;
  }

  .checkbox-group__wrapper {
    margin-right: 164px;

    &:first-child {
      margin-right: 134px;
      margin-left: 25px;
    }

    &:nth-child(3) {
      margin-right: 223px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .checkbox-group {
    margin-bottom: 0;
  }

  .checkbox-group__title {
    font-size: 36px;
    margin-bottom: 38px;
    margin-top: 25px;
    width: 1220px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 25%;
      top: 60px;
      height: 3px;
      background-color: @green;
    }

    &::before {
      content: "";
      position: absolute;
      right: 95%;
      left: 0;
      top: 60px;
      height: 3px;
      background-color: @green;
    }
  }
}
