.information-group {
  border: none;
  border-bottom: 1px solid #ededed;
}

.information-group__title {
  .subtitle;
}

.information-group__label {
  .label;
}

.information-group__input {
  border: 1px solid #ededed;
  padding-left: 15px;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    font-family: "Oswald", "Tahoma", sans-serif;
  }
}
