.input-group {
  border: none;
  border-bottom: 1px solid #ededed;
}

.input-group__label {
  .label;
}

.input-group__input {
  .input;
}

.input-group__wrapper {
  &:nth-child(2) .input-group__input {
    width: 202px;
  }

  &:last-child .input-group__input {
    width: 170px;
  }
}
