@import "page-header.less";
@import "categories.less";
@import "advantages.less";
@import "page-footer.less";
@import "catalog.less";

@green: #68b738;
@grey: #444444;
@white: #ffffff;
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
